<div class="todo-container">
  <h2>Lista de Tareas</h2>

  <input type="text" [(ngModel)]="newTaskTitle" placeholder="Ingresa tarea" />
  <button (click)="addTask()">Agregar</button>

  <ul>
    @for (task of tasks; track task.id) {
      <li>
        <input
          type="checkbox"
          [checked]="task.completed"
          (change)="toggleTask(task)"
        />
        <span [class.completed]="task.completed">{{ task.title }}</span>
        
        <button (click)="deleteTask(task.id!)">❌</button>
      </li>
    } 
    @empty {
      <li>No hay tareas pendientes. 🎉</li>
    }
  </ul>
  
  <button routerLink="/calculadora">Calculadora</button>
  <button routerLink="/imagen">Imagen</button>
</div>